.App {
  background: var(--app-background);
  color: var(--app-color-text);
  height: 100%;
}

.App.dark-mode{
  --app-background: hsl(235, 21%, 11%);
  --app-color-text: hsl(234, 39%, 85%);
  --app-background-desaturated: hsl(235, 24%, 19%);
  --shadow-color: #000;
  --grayish-color: hsl(233, 14%, 35%);
  --text-muted: hsl(235, 19%, 35%);
  transition: ease 0.5s;
}

.App-body{
  margin-top: -200px;
  display: flex;
  justify-content: center;
}

.App-content{
  max-width: 500px;
  width: 100%;
  margin: 0 15px;
}

.App-title{
  font-size: 2.5rem;
  color: hsl(234, 39%, 85%);
}

.App-content-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;;
}

.btnChangeMode{
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
}