@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
  --app-background: hsl(0, 0%, 98%);
  --app-background-desaturated: #fff;
  --app-color-text: hsl(235, 19%, 35%);
  --grayish-color: hsl(236, 33%, 92%);
  --shadow-color: hsl(236, 9%, 61%);
  --gradiant: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --text-muted: hsl(236, 9%, 61%);

  /* --Very-Light-Gray: hsl(0, 0%, 98%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Very-Dark-Blue: hsl(235, 21%, 11%); */
}

html,
body,
#root{
  height: 100vh;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}
